.note-button {
    background-color: #c4c4c4 !important;
    border-color: unset !important;    
    width:35vw !important;
    height:16vh !important;
    margin:10px !important;

    border-radius: 0 !important;



    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }