#menu {
    position: fixed;
    bottom:0;
    border: 1px solid black;
    display:flex;
    width:100%;
}

.menu-item{
    width:33%;
    margin:auto !important;
    text-align: center;
    height: 6vh;
}